*{
    margin:0;
    padding :0;
    box-sizing:border-box;
    line-height: 25px;
}


.container {
    justify-content: center;
    align-items:center;
    text-align: center;
    width: 1000px;
    height: 1000px;
    outline: double 10px #7ca6e6;
    margin: auto;
}

.container h2{
    padding: 25px;

}

.teal-box{
    position: relative;
    margin: 10px auto;
    width: 800px;
    height: 800px;
    background-color: rgb(115, 162, 165);
}
.groove{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
}